<?xml version="1.0"?>
<!-- Main quadrotor link -->
<robot name="quadrotor">

    <link name="base_link">
      <inertial>
        <mass value="1.113" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.015" ixy="0.0" ixz="0.0" iyy="0.015" iyz="0.0" izz="0.007" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robots/meshes/quadrotor/drone.obj"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
          <mesh filename="package://robots/meshes/quadrotor/drone.obj"/>
        </geometry>
      </collision>
    </link>

    <link name="world_link"/>

    <joint 
      name="world_body_joint"
      type="fixed">
      <parent
        link="world_link" />
      <child
        link="base_link" />
    </joint>

</robot>